body, div, h1 {
    display: flex;
}
body {
    flex-direction: column;
}
h1 {
    min-width: 100%;
}
body > div {
    flex-direction: row;
    min-width: 100%;
}    
div > div {
    width: 25%;
    min-height: 10rem;
}

.seagreen {
    background: seagreen;
}
.light-seagreen {
    background: #20b2aa;
}
.medium-seagreen {
    background: #3cb371;
}
.dark-seagreen {
    background: #8fbc8f;
}

.aquamarine {
    background: aquamarine;
}
.medium-aquamarine {
    background: #66cdaa;
}
.alternative {
    background: #9cef9a;
}

.color-primary-0 { background: #FFECD1 }	/* Main Primary color */
.color-primary-1 { background: #FFFDFA }
.color-primary-2 { background: #FFF6E9 }
.color-primary-3 { background: #DBC099 }
.color-primary-4 { background: #B89564 }

.color-secondary-1-0 { background: #9897B2 }	/* Main Secondary color (1) */
.color-secondary-1-1 { background: #EAEAEE }
.color-secondary-1-2 { background: #C3C3D2 }
.color-secondary-1-3 { background: #737199 }
.color-secondary-1-4 { background: #504E80 }

.color-secondary-2-0 { background: #8DACA1 }	/* Main Secondary color (2) */
.color-secondary-2-1 { background: #E8EDEB }
.color-secondary-2-2 { background: #BDCEC8 }
.color-secondary-2-3 { background: #679483 }
.color-secondary-2-4 { background: #447C67 }

.color-primary-1-0 { background: #3CB370 }	/* Main Primary color */
.color-primary-1-1 { background: #90E0B3 }
.color-primary-1-2 { background: #5FC98D }
.color-primary-1-3 { background: #20A45A }
.color-primary-1-4 { background: #0D8541 }

.color-secondary-3-0 { background: #3A7E9F }	/* Main Secondary color (1) */
.color-secondary-3-1 { background: #8EC0D8 }
.color-secondary-3-2 { background: #5C9BBA }
.color-secondary-3-3 { background: #226E92 }
.color-secondary-3-4 { background: #115576 }

.color-secondary-4-0 { background: #FBAE54 }	/* Main Secondary color (2) */
.color-secondary-4-1 { background: #FFD5A4 }
.color-secondary-4-2 { background: #FFC078 }
.color-secondary-4-3 { background: #E7912D }
.color-secondary-4-4 { background: #BA6C12 }

.color-complement-0 { background: #FB7754 }	/* Main Complement color */
.color-complement-1 { background: #FFB7A4 }
.color-complement-2 { background: #FF9478 }
.color-complement-3 { background: #E7542D }
.color-complement-4 { background: #BA3512 }

.color-primary-2-0 { background: #B696C4 }	/* Main Primary color */
.color-primary-2-1 { background: #D7C4E0 }
.color-primary-2-2 { background: #C7ADD3 }
.color-primary-2-3 { background: #A37EB3 }
.color-primary-2-4 { background: #9268A4 }

.color-primary-3-0 { background: #DFAC8A }	/* Main Primary color */
.color-primary-3-1 { background: #FFEDE0 }
.color-primary-3-2 { background: #FFDAC2 }
.color-primary-3-3 { background: #B97E56 }
.color-primary-3-4 { background: #985A31 }

